PORT=3001
CORS_ORIGIN=http://localhost:3000
ADMIN_TOKEN=troque-este-token

DATABASE_URL=postgresql://painel:painel_dev@localhost:5433/painel_parnaiba?schema=public
REDIS_URL=redis://localhost:6379

NEXT_PUBLIC_API_URL=http://localhost:3001
